body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    
    padding: 10px;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 200px;
}

.logo img {
    width: 110%;
    height: auto;
    display: block;
}

.title {
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.title h1 {
    margin: 0;
    padding: 0;
}

.content {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
}

.image {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.image img {
    width: 250px; 
    height: auto;
    display: block;
}

.main {
    text-align: justify;
}

.head {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    clear: both;
    border-top: 2px solid black;
    margin-top: 20px;
}

.head p {
    margin: 0;
    padding: 0;
}

.advertisement {
    width: 100px;
    height: 150px; 
    background-color: gray; 
    color: rgb(0, 0, 0);
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
}
.last-div {
    width: 100%;
    text-align: center; 
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.content{
	margin-top: 25px;
}